---
const {
  avatar,
  name,
  role,
  title,
  quote,
  variant,
  textcolor,
  span = ''
} = Astro.props;
---

<article class={`p-8 shadow-2xl rounded-xl 
 hover:-translate-y-4 transition-all duration-300 ${textcolor} ${variant} ${span}`}>
  <header class="flex items-center gap-6 mb-4">
    <img class="border-Purple-50 rounded-full border-2  size-9" src={avatar} alt="" />
    <div>
      <h3 class="text-sm barlow-600">{name}</h3>
      <p class="text-xs">{role}</p>
    </div>
  </header>

  <h2 class="text-xl mb-4 ">{title}</h2>
  <p class="text-sm">{quote}</p>
</article>

